body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 70px;
}

.navbar {
    background-color: #333;
}

.navbar-brand span {
    color: #007bff;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
    text-transform: capitalize;
    /* Capitalización para los enlaces */
    margin-right: 15px;
}

.nav-link:hover {
    color: #e01f1f !important;
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1rem;
    margin-top: 10px;
}


#productos h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 40px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}


footer {
    background-color: #292323;
    color: #8d3333;
}

footer p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}